@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

body {
  padding-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #C4E1E6 ;
} 
html {
  background-color: pink;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {
  font-family: "Poetsen One", sans-serif; 
  width: 100%;
}
